body{
    background-color: black;
}
div{
    color: white;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
img{
    width: 100%;
    border: 5px solid white;
}
h2{
    margin-top: 50px;
    margin-bottom: 0%;
    font-size: xx-large;
}
h1{
    margin-bottom: 0%;
}
